.App {
  text-align: center;
} 

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb; 
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  background-color: #31343b;
}

button{
  margin: 2em;
  padding: 20px;
  border-radius: 25px;
  border: none;
  font-weight: bolder;
  background-color: #4d5c80;
  color: white;
  font-size: large;
}

h1{
  color: white;
}





